.vscode/**
.vscode-test/**
tools/gcc/**
tools/psn00b_sdk/**
tools/emulator/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
images/create_icon.py
images/create_icon.js
images/convert.html
images/icon.svg
check-size.sh
package-extension.sh
PUBLISHING.md
